:host {
  justify-content: start;
}

.content-container {
  display: flex;
  width: 1200px;
  margin: 40px auto 0;
}

app-all-posts,
.post-divider {
  margin: 0 12px;
}

.post-divider {
  padding-top: 8px;
  margin: 0 12px;
}
